Escc.EastSussexGovUK/Web References/GoogleAnalytics/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eastsussex.gov.uk/Escc.GoogleAnalytics" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eastsussex.gov.uk/Escc.GoogleAnalytics" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eastsussex.gov.uk/Escc.GoogleAnalytics">
      <s:element name="GoogleAnalyticsSearchSuggestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GoogleAnalyticsSearchSuggestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GoogleAnalyticsSearchSuggestionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GoogleAnalyticsSearchSuggestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GoogleAnalyticsSearchSuggestions" />
  </wsdl:message>
  <wsdl:message name="GoogleAnalyticsSearchSuggestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GoogleAnalyticsSearchSuggestionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GoogleAnalyticsSearchSuggestions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the search keywords from a database, which is a cached copy of the data from Google Analytics</wsdl:documentation>
      <wsdl:input message="tns:GoogleAnalyticsSearchSuggestionsSoapIn" />
      <wsdl:output message="tns:GoogleAnalyticsSearchSuggestionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GoogleAnalyticsSearchSuggestions">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/Escc.GoogleAnalytics/GoogleAnalyticsSearchSuggestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GoogleAnalyticsSearchSuggestions">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/Escc.GoogleAnalytics/GoogleAnalyticsSearchSuggestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/Escc.GoogleAnalytics/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/Escc.GoogleAnalytics/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>