Escc.EastSussexGovUK/Web References/DeviceDetection/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection">
      <s:element name="IsMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAgent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsMobileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRobot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAgent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRobotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRobotResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsMobileSoapIn">
    <wsdl:part name="parameters" element="tns:IsMobile" />
  </wsdl:message>
  <wsdl:message name="IsMobileSoapOut">
    <wsdl:part name="parameters" element="tns:IsMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IsRobotSoapIn">
    <wsdl:part name="parameters" element="tns:IsRobot" />
  </wsdl:message>
  <wsdl:message name="IsRobotSoapOut">
    <wsdl:part name="parameters" element="tns:IsRobotResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="IsMobile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Determines whether the specified user agent is a mobile phone.</wsdl:documentation>
      <wsdl:input message="tns:IsMobileSoapIn" />
      <wsdl:output message="tns:IsMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRobot">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Determines whether the specified user agent is a known robot.</wsdl:documentation>
      <wsdl:input message="tns:IsRobotSoapIn" />
      <wsdl:output message="tns:IsRobotSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsMobile">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection/IsMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRobot">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection/IsRobot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsMobile">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection/IsMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRobot">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/EsccWebTeam.DeviceDetection/IsRobot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/EsccWebTeam.DeviceDetection/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/EsccWebTeam.DeviceDetection/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>